.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 10px;
}


.footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom : 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.imgAtt{
	width: 100%;
	height: 300px;
}

.imgResizeCard{
	width: 100%;
	height: 100%;
}

.tab-content{
	padding-top: 10px;
}